
<ul>
	<% @links.each do |link| %>
		<li><h3><%= link_to link.title, link.url %> <small>(<%= link_to link.url, link.url %>)</small></h3></li>
		<%= link_to "comments", link %>
		<p>
			<% if current_user && current_user.votes.where(link_id: link.id, up: true).present? %>
    		*
  		<% else %>
    		<%= link_to "+", votes_path(vote: {link_id: link.id, up: true}), method: :post %>
  		<% end %>
  		<% if current_user && current_user.votes.where(link_id: link.id, up: false).present? %>
    		*
  		<% else %>
    		<%= link_to "-", votes_path(vote: {link_id: link.id, up: false}), method: :post %>
  		<% end %>
			Votes: <%= link.votes.where(up: true).count - link.votes.where(up: false).count %>
		</p>
	<% end %>
</ul>

<%= will_paginate @links %>